
div.sh.back {
    width: 100%;
    height: auto;
    opacity: 0.5;
    background-image: url(../images/bg.jpg);
    background-repeat: repeat-y repeat-x;
    position: absolute;
    top:0;
    left: 0;
    z-index: -10;
}
    
#main_box {
    background-color: white;
    padding: 2%;
}